body {
  /* background-color: #555; */
}

.button {
  font-size: 40px;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 7px;
  transition: background-color 250ms linear, color 250ms linear;
}

.button:hover,
.button:focus {
  background-color: blue;
  color: white;
}
